
{% load static %}

{% block content %} 
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MyResume</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Acumin%20Pro.css">
    <link rel="stylesheet" href="assets/css/Acumin%20Pro%20Bold.css">
    <link rel="stylesheet" href="assets/css/Acumin%20Pro%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/css/Acumin%20Pro%20Italic.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/1st.css">
    <link rel="stylesheet" href="assets/css/2nd.css">
    <link rel="stylesheet" href="assets/css/4th.css">
    <link rel="stylesheet" href="assets/css/hanburg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/line.css">
    <link rel="stylesheet" href="assets/css/portfolio.compiled.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/totplee.css">
    <link rel="stylesheet" href="assets/css/untitled.compiled.css">
</head>

<body>
    <div class="text-center" style="width: 100%;background-color: #e4dfdf;"><a class="text-center" data-bs-hover-animate="pulse" href="index.html" style="font-size: 49px;width: 51px;height: 18px;font-weight: bold;"><i class="icon ion-ios-arrow-back" style="font-size: 34px;"></i></a><img src="assets/img/lee.jpg" style="width: 74%;margin-left: 77px;"></div>
    <script
        src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bs-init.js"></script>
        <script src="assets/js/4th.js"></script>
        <script src="assets/js/demo1.151408fb.js"></script>
        <script src="assets/js/index.6d569464.js"></script>
        <script src="assets/js/totoplee.js"></script>
</body>

</html>
{% endblock %}
